<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ASAP WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ASAP WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ASAP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ASAP_Appstore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ASAP_Production.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>80C9814E1E4D451B00631E6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80C981621E4D451E00631E6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80C9816D1E4D451E00631E6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80C981761E4D451E00631E6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80C981A91E4D48A900631E6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80C981BB1E4D492400631E6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
